<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="backups_allowed_android_test" >

    <application android:allowBackup="true"> <!-- #defect#backups_allowed_android -->

        <activity
                android:name=".TestActivity" >
        </activity>

    </application>

</manifest>